@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --main-color: #4F714D;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
  field-sizing: content;
  box-sizing: border-box; /* Ensures padding/borders don't affect width */
  max-width: 100%;       /* Prevents overflow */
  width: 100%;           /* Fills container, but not beyond */
  height: auto;          /* Optional: allows height to be controlled */
  overflow: auto; 
};
